* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  width: 200px;
  margin-left: 30px;
  margin-top: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
  border-width: 1.5px;

}

button {
  width: 200px;
  margin-left: 30px;
  margin-top: 10px;
  background-color: #66bb6a;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.89);
  border-width: 1px;
}
